
#singleuserlayout {
  padding: 5px;
  min-width: 110px;
  min-height: 110px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 2px #fff;
  transition: 0.5s ease;
}

#multipleuserlayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: 20px;
  margin: 20px 0px 80px 0px;
}

main img{
  height: 100px;
  width: 100px;
}

#content-multiple {
  display: grid;
  grid-template-columns: repeat(2, 100px[col-start] 90%[col-end]);
}

#content {
  text-align: center;
  padding-right: 50px;
}

.b_department_name {
  background: #222526; 
  color: #a9a9a9;
  font-size: 20px;
 }