/* The Modal (background) */
/* #myModal *{
    all: initial;
} */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.modal-content {
	position: relative;
	font-size: 1.5em;
	margin: auto;
	background: #484848;
	color: white;
	border-radius: 15px;
	padding: 15px;
	width: 500px;
}

#myModal em {
	color: red;
}

#myModal input[type=text], #myModal input[type=number] {
	padding: 0 5px 0 5px;
	background: #666666;
	border: 3px inset;
	border-radius: 7px;
	color: #a2a2a2;
	text-align: center;
}
#myModal input[type=reset], #myModal input[type=submit] {
        padding: 0 5px 0 5px;
        background: #666666;
        border: 3px outset;
        border-radius: 7px;
        color: #a2a2a2;
        font-size: 1em;
}
#myModal input[type=submit] {
	float: right;
	margin: 20px 10px 10px 0px;
}
#myModal input[type=reset] {
	margin: 20px 0 10px 10px;
}
 
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-body {padding: 2px 16px;}  