*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: #222526;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px repeat(3, 1fr) 360px;
    grid-template-rows: 90px auto;
    grid-template-areas: 
        "header header header header header"
        "nav main main main aside";
}

header{
    height: 100%;
    grid-area: header;
    background-color: #2f2f30;
}

nav{
    grid-area: nav;
    width: 250px;
    background-color: #202022;
    height: 100%;
}

main{
    grid-area: main;
    background-color: #181818;
    height: 100%;
}

aside{
    grid-area: aside;
    background-color: #202022;
    height: 100%;
}

/* sidebar menu */
nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .4s;
}

nav ul li:hover a{
    padding-left: 50px;
}

nav ul a i{
    margin-right: 16px;
}
/* end sidebar menu */