table{

  }

  th{
    width: 20px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse: collapse;
  }

  .th_weekend{
    width: 20px;
    height: 40px;
    font-size: 25px;
    background-color: #BC544B;
    color: black;
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse: collapse;
  }

  td{
    width: 20px;
    height: 40px;
    padding-left: 10px;
    font-size: 25px;
    color: #a9a9a9;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

  .td_fio{
    width: 20px;
    padding-left: 10px;
    font-size: 25px;
    color: #a9a9a9;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
  }

  a{
    color: #a9a9a9; 
  }

  .b_main_name {
    border:none;
    background:transparent; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time {
    height: 35px;
    width: 35px;
    background:transparent; 
    color: #a9a9a9;
    font-size: 20px;
   }