table{

  }

  th{
    font-family: Arial, Helvetica, sans-serif;
    width: 20px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse: collapse;
  }

  .th_weekend{
    width: 20px;
    height: 40px;
    font-size: 25px;
    background-color: #BC544B;
    color: black;
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse: collapse;
  }

  main td{
    width: 20px;
    height: 40px;
    font-size: 25px;
    color: #a9a9a9;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

  .td_fio{
    width: 20px;
    padding-left: 10px;
    font-size: 25px;
    color: #a9a9a9;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
  }

  a{
    color: #a9a9a9; 
  }

  .b_main_name {
    border:none;
    background:transparent; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_work {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#728c69; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_weekend {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#052888; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_warning {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#60100B; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_vacation {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#34495E; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_FiveDay_10hrs {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#45B39D; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_FiveDay_9hrs {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#16A085; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_FiveDay_11hrs {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#138D75; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_FiveDay_6hrs {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#117A65; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_FiveDay_tue_10hrs {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#0E6655; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time_FiveDay_wed_saturd_10hrs {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:#0B5345; 
    color: #a9a9a9;
    font-size: 20px;
   }

   .b_main_time {
    border: none;
    display: inline-block;
    height: 35px;
    width: 100%;
    background:transparent; 
    color: #a9a9a9;
    font-size: 20px;
   }