table{

  }

  th{
    height: 40px;
    font-size: 25px;
    color: #fff;
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse: collapse;
  }

  td{
    height: 40px;
    padding-left: 10px;
    font-size: 25px;
    color: #a9a9a9;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
  }

  a{
    color: #a9a9a9; 
  }

  .b_main_name {
    background: #222526; 
    color: #a9a9a9;
    font-size: 20px;
   }
   .b_main_time {
    height: 35px;
    width: 35px;
    background: #222526; 
    color: #a9a9a9;
    font-size: 20px;
   }